<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.imooc.bigdata.hos.dao.TableTestMapper">
  <resultMap id="TableTestResultMap" type="com.imooc.bigdata.hos.model.TableTest">
    <id column="USER_ID" property="userId"/>
    <result column="USER_NAME" property="userName"/>
  </resultMap>


  <select id="getTableTest" resultMap="TableTestResultMap">
    select * from Table_Test where
    USER_NAME=#{userId}
  </select>

</mapper>